/* ================================================= */
/* 1. Header 전체 스타일 */
/* ================================================= */
.header {
  position: fixed; 
  top: 12px;      
  left: 94px;     
  right: 12px;     
  height: 60px;    
  background-color: var(--color-bg-4); 
  
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 18px; 
  z-index: 99; 
  border-radius: 12px; 

  color: var(--color-text-p1);
  font-family: var(--font-family-primary);
}

/* ================================================= */
/* 2. 좌측 섹션 (로고, 타이틀) */
/* ================================================= */
.leftSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: var(--color-link);
}

.logoImage {
  height: 45px;
  width: auto; 

}

.title {
  font-size: 18px;
  color: var(--color-text-headline); 
}

/* ================================================= */
/* 3. 우측 섹션 (버튼, 언어, 프로필, 시간) */
/* ================================================= */
.rightSection {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.rightSection .button { 
  background-color: transparent;
  border: none;
  color: var(--color-text-p1);
  padding: 8px; 
  min-width: unset; 
}

.rightSection .button:hover {
  background-color: var(--color-bg-5); 
  border-radius: 8px;
}

.language {
  font-weight: 200;
  color: var(--color-text-p1); 
}

.profile {
  font-weight: 200;
  color: var(--color-text-p1);
}

.time {
  font-size: 16px;
  color: var(--color-text-p2);
}

.timeContainer {
  width: 70px; 
  height: 40px; 
  
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  
  color: #FFFFFF; 
  position: relative; 
  font-size: 16px;
}


.mainTime {
  font-size: 1.2em; 
  margin-right: 25px;
}

.meridian {
  font-size: 65%; width: 20px;
  position: absolute; 
  top: 10px; 
}