/* ================================================= */
/* 1. Sidebar 전체 스타일 */
/* ================================================= */
.sidebar {
  position: fixed;
  top: 12px;          
  left: 12px;      
  bottom: 12px;
  
  height: calc(100vh - 44px);
  
  width: 70px;
  padding-top: 20px;
  background-color: var(--color-bg-4);
  z-index: 100;
  border-radius: 12px;
}

.navList {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.navItem {
  margin-bottom: 15px;
}

/* ================================================= */
/* 2. 링크 및 아이콘 스타일 */
/* ================================================= */
.navLink {
  display: block;
  width: 100%;
  height: 60px;
  text-align: center;
  text-decoration: none;
  color: var(--color-text-p2);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink {
  transition: all 0.2s ease-in-out; 
}

.navLink:active {
  transform: scale(0.8); 
  box-shadow: none; 
}

.navLink {
  transition: all 0.2s ease-in-out, transform 0.1s ease-out; 
}

.icon {
  font-size: 28px;
}

.iconImage {
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in-out;
  
  filter: grayscale(100%); 
  opacity: 0.5;
}

.navLink:hover:not(.active) .iconImage {
  filter: grayscale(50%); 
  opacity: 0.8;
  
}

/* ================================================= */
/* 3. 활성 (Active) 상태 스타일 */
/* ================================================= */
.active {
  color: var(--color-link); 
}

.active .iconImage {
  filter: none; /* 흑백 필터 제거 (원래 색상 복원) */
  opacity: 1; /* 투명도 제거 (최대 밝기) */
}

.active:hover .iconImage {
  opacity: 1;
}